.card {
  cursor: pointer;
  min-height: 180px !important;
  /* padding: 3px !important; */
  margin: 20px auto !important;
}

.card:hover,
.card:focus,
.card:active {
  border-color: #0070f3 !important;
  transform: scale(1.05) !important;
}

.button {
  margin: 0 10px !important;
}

.select {
  margin: 0 10px !important;
}
